{% extends "top_products/base.html" %}

{% block page_content %}

    <ul>
        {% for product in products %}
        <li>{{product}}</li>
        {% endfor %}
    </ul>
    <ul>
        {% for images in product_images %}
        <li><img src="{images}"> </li>
        {% endfor %}
    </ul>

    <section>
        <h1> graph </h1>
        {% for graph in graphs %}
        <ul>
        <li><img src="data:image/png;base64,{{ graph }}" alt="My Plot"> </li>
        </ul>
        {% endfor %}
    </section>

{% endblock page_content %}